[core]
pager = delta

[delta]
features = tokyonight_moon
file-decoration-style = ""
file-style = blue bold
hunk-header-decoration-style = ""
hunk-header-style = raw
navigate = true
syntax-theme = none

[delta "tokyonight_moon"]
minus-style = "#a5222f" "#e6c8c8"
minus-non-emph-style = "#a5222f" "#e6c8c8"
minus-emph-style = "#a5222f" "#d6a2a4"
minus-empty-line-marker-style = "#a5222f" "#e6c8c8"
line-numbers-minus-style = "#a5222f"
plus-style = "#396847" "#d0d6cd"
plus-non-emph-style = "#396847" "#d0d6cd"
plus-emph-style = "#396847" "#afbeae"
plus-empty-line-marker-style  = "#396847" "#d0d6cd"
line-numbers-plus-style = "#396847"

[diff]
colorMoved = default

[github]
user = "{{ .email }}"

[interactive]
diffFilter = delta --color-only

[merge]
conflictstyle = diff3

[user]
email = "{{ .email }}"
name = "{{ .name }}"
